:root {
    --yellow: #FFCF00;
    --blue: #002E45;
    --red: #D01012;
}
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;   
}
.page {
    position: relative;
    height: 100vh;
}
.container {
    position: absolute;
    z-index: 1;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 20% 50% 30%;
    grid-template-areas: "nav     aside"
                         "section aside"
                         "footer  aside";
    height: 100%;
    width: 100%;
}
.loader {
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    animation: loader 2s linear forwards;
}
.loader div {
    background: var(--yellow);
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
    transform: scale(0);
    animation: scaling 2s ease-in-out infinite;
}
.loader div:nth-child(1){
    animation-delay: 0.2s;
}
.loader div:nth-child(2){
    animation-delay: 0.4s;
}
.loader div:nth-child(3){
    animation-delay: 0.6s;
}
@keyframes loader {
    0% {
        opacity: 1;
        visibility: visible;
    }
    95% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes scaling {
    0% {
        transform: scale(0.2);

    }
    40% {
        transform: scale(1);

    }
    50% {
        transform: scale(1);

    }
    100% {
        transform: scale(0.2);
    }
}
.navbar {
    grid-area: nav;
    display: flex;
}
.navbar__content {
    display: flex;
    align-items: center;
    padding: 0 0 0 80px;
    animation: 2s navbar 0.5s ease-in-out;
}
@keyframes navbar {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0px);
    }
}
.navbar__content img {
    width: 60px;
}
.navbar__content ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    width: 450px;
}
.navbar__content ul li a {
    color: var(--red);
    font-weight: 300;
    text-decoration: none;
}
.main-content {
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    animation: 2s main-content 0.5s ease-in-out;
}
.main-content p:first-child {
    font-size: 36px;
    font-weight: 300;
    margin: 0 0 -14px 48px;
}
.main-content h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 28px 0;
}
.main-content p:last-child {
    font-size: 30px;
    font-weight: 100;
    margin: 0;
    width: 60%;
}
@keyframes main-content {
    0% {
        transform: translateY(-800px);
    }
    100% {
        transform: translateY(0px);
    }
}
.side-content {
    background: palegreen;
    display: grid;
    grid-area: aside;
    grid-template-columns: repeat(6);
    place-items: center; 
}
.side-content p {
    transform: rotate(-90deg);
    font-size: 36px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    opacity: 0;

    animation-name: side-content-text;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes side-content-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.side-content img {
    width: 90%;
    grid-column: 2 / 6;
    grid-row: 2 / 6;
}