body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.page {
    position: relative;
    height: 100vh;
}
.container {
    position: absolute;
    z-index: 1;
}
.loader {
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    animation: loader 2s linear forwards;
}
.loader div {
    background: palevioletred;
    width: 40px;
    height: 40px;
    margin: 10px;
}

@keyframes loader {
    0% {
        opacity: 1;
        visibility: visible;
    }
    95% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}